/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* GENERAL STYLES */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: "Inter", "sans-serif";
    color: #28292F;
    background-color: #F1F3FA;
}

.container {
    width: 920px;
    margin: 0 auto;
}

span {
    color: #CF01A2;
}

.flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
    gap: 40px;
}

/* GENERAL STYLES */

/* TEXT STYLES */

h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

/* TEXT STYLES */

/* COMPONENTS */

.btn-primary-lg {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    background-color: #CF01A2;
    border-radius: 8px;
    padding: 24px 32px;
}

.btn-primary-lg:hover {
    background-color: #F41BC5;
    cursor: pointer;
}

.btn-primary-md {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    background-color: #CF01A2;
    border-radius: 8px;
    padding: 16px 24px;
}

.btn-primary-md:hover {
    background-color: #F41BC5;
    cursor: pointer;
}

.btn-secondary-md {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #CF01A2;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #CF01A2;
    border-radius: 8px;
    padding: 16px 24px;
}

.btn-secondary-md:hover {
    background-color: #ffeafa;
    cursor: pointer;
}

.navbar {
    padding: 40px;
}

/* COMPONENTS */

/* INTRODUCTION */

.intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
    gap: 48px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.explainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
    font-size: 1.5rem;
    font-weight: 700;
}

/* INTRODUCTION */

/* GAME */

.game-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    gap: 48px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.word-question {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
}

.card-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.card {
    width: 200px;
    height: 200px;
    margin: 8px;
    border: 4px solid #fff;
    border-radius: 2px;
    -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.card:hover {
    border-color: #CF01A2;
    cursor: pointer;
}

.answer-right {
    border: 4px solid #00BB8E;
    background-color: #00BB8E;
}

.answer-right img {
    opacity: 0.6;  
}

.answer-right:hover {
    border-color: #00BB8E;
}

.answer-wrong {
    border: 4px solid #DF4706;
    background-color: #DF4706;
}

.answer-wrong img {
    opacity: 0.6;
}

.answer-wrong:hover {
    border-color: #DF4706;
}

/* GAME */

/* SCORE */

.high-score-display {
    margin-top: 40px;
    text-align: center;
}

.high-score-value, .correct-answers {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
}

/* SCORE */

/* MODALS */

.modal-container {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.hide-modal {
    display: none;
}

.stop-scrolling {
    overflow: hidden;
}

.modal-content {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 48px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
}

.modal-content p {
    text-align: center;
}

.display-answers {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    text-align: center;
}

.actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
}

.game-selection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
}

.start-game {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 700;
    width: 140px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 12px;
    background-color: #ffffff;
    border: 2px solid #DCD3DA;
    border-radius: 4px;
    cursor:pointer;
}

.start-game:hover {
    color: #CF01A2;
    border: 2px solid #CF01A2;
}

/* MODALS */

/* MEDIA QUERIES */

@media screen and (max-width: 1110px) {

    .container {
        width: 90vw;
    }
    
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
    
    .container {
        width: 90vw;
    }

    .intro {
        margin-top: 0;
    }

    .game-board {
        margin-top: 0;
        gap: 24px;
    }

    .navbar {
        padding: 24px;
    }

    .main {
        margin-top: 50px;
    }

    .card {
        width: 90px;
        height: 90px;
        margin: 4px;
    }

    .card:hover {
        border-color: #fff;
        cursor: pointer;
    }

    .answer-right:hover {
        border-color: #00BB8E;
    }

    .answer-wrong:hover {
        border-color: #DF4706;
    }

    .card img {
        width: 90px;
        height: 90px;
    }

    .modal-content {
        padding: 48px 24px;
        gap: 32px;
    }

}

/* MEDIA QUERIES */