@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: "Inter", "sans-serif";
    color: #28292F;
    background-color: #F1F3FA;
}

.container {
    width: 920px;
    margin: 0 auto;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.btn-primary-lg {
    width: fit-content;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    background-color: #CF01A2;
    border-radius: 8px;
    padding: 24px 32px;
}

.btn-primary-lg:hover {
    background-color: #F41BC5;
    cursor: pointer;
}

.btn-primary-md {
    width: fit-content;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background-color: #CF01A2;
    border-radius: 8px;
    padding: 16px 24px;
}

.btn-primary-md:hover {
    background-color: #F41BC5;
    cursor: pointer;
}

.btn-secondary-md {
    width: fit-content;
    color: #CF01A2;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #CF01A2;
    border-radius: 8px;
    padding: 16px 24px;
}

.btn-secondary-md:hover {
    background-color: #ffeafa;
    cursor: pointer;
}

.highscore-display {
    margin-top: 100px;
    text-align: center;
}

.score, .correct-answers {
    display: block;
    font-size: 24px;
    font-weight: 700;
}

span {
    color: #CF01A2;
}

.navbar {
    padding: 40px;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 48px;
    align-items: center;
}

.explainer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
    font-weight: 700;
}

.game-board {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 48px;
    align-items: center;
}

.word-question {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    height: 200px;
    margin: 8px;
    border: 4px solid #fff;
    border-radius: 2px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.card:hover {
    border-color: #CF01A2;
    cursor: pointer;
}

.answer-right {
    border: 4px solid #00BB8E;
    background-color: #00BB8E;
}

.answer-right img {
    opacity: 0.6;  
}

.answer-right:hover {
    border-color: #00BB8E;
}

.answer-wrong {
    border: 4px solid #DF4706;
    background-color: #DF4706;
}

.answer-wrong img {
    opacity: 0.6;
}

.answer-wrong:hover {
    border-color: #DF4706;
}

.modal-container {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.hide-modal {
    display: none;
}

.modal-content {
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 48px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.display-answers {
    font-size: 32px;
    line-height: 140%;
    font-weight: 700;
    text-align: center;
}

.actions {
    display: flex;
    gap: 16px;
}

.game-selection {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.game-type {
    position: absolute;
    width: 0;
    height: 0;
}

.game-type + label {
    display: flex;
    font-weight: 700;
    width: 140px;
    justify-content: center;
    padding: 12px;
    border: 2px solid #DCD3DA;
    border-radius: 4px;
    cursor:pointer;
}

.game-type:hover + label {
    border: 2px solid #CF01A2;
}

.game-type:checked + label {
    color: #CF01A2;
    border: 2px solid #CF01A2;
}

@media screen and (max-width: 1110px) {

    .container {
        width: 90vw;
    }
    
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }
    
    .container {
        width: 90vw;
    }

    .intro {
        margin-top: 0;
    }

    .game-board {
        margin-top: 0;
        gap: 24px;
    }

    .navbar {
        padding: 24px;
    }

    .main {
        margin-top: 50px;
    }

    .card {
        width: 90px;
        height: 90px;
        margin: 4px;
    }

    .card:hover {
        border-color: #fff;
        cursor: pointer;
    }

    .answer-right:hover {
        border-color: #00BB8E;
    }

    .answer-wrong:hover {
        border-color: #DF4706;
    }

    .card img {
        width: 90px;
        height: 90px;
    }

    .highscore-display {
        margin-top: 40px;
    }

    .modal-content {
        padding: 48px 24px;
        gap: 32px;
    }

}